body {
    background-color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav {
    list-style-type: none;
    background-color: lightgreen;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float: left
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}
ul.nav a:hover {
    background-color: black;
    color: white;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}
.grid-item {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: burlywood;
}
.title-section {
    grid-column: 2 / span 1;
    grid-row: 1;
}
.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}


.picture-section {
    grid-column: 3 / span 1;
    grid-row: 3;
}
.text-section {
    grid-column: 1 / span 2;
    grid-row: 3;
}
.mission-section {
    grid-column: 1 / span 3;
    grid-row: 4;
}
.fa-twitter {
    background: white;
    color: lightgreen;
    width: 50px;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 2%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .about_us {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.table-section {
    grid-column: 2 / span 3;
    grid-row: 3;
}
.footer-section {
    grid-column: 1 / span 1;
    grid-row: 5;
  }
  .park-section {
    grid-column: 2 / span 1;
    grid-row: 4;
    background-color: burlywood;
  }

  .carousel-section {
    grid-column: 2 / span 1;
    grid-row: 3;
  }